In [3]:
cd soccermatics

/Users/jamesdavies/soccermatics

In [4]:
import pandas as pd


file_path = 'data/tracking_data/18768058_tracks.parquet'

# Read the Parquet file into a Pandas DataFrame
df = pd.read_parquet(file_path, engine='pyarrow')  # or engine='fastparquet'

# Display the DataFrame
print(df.head())

   index  frame  period  jersey_number          player        vx        vy  \
0      0    124       1            -99            ball  0.000000  0.000000
1      1    205       1            -99            ball -0.563135  0.243577
2      2    205       1              5     John Stones -3.864288  0.632351
3      3    205       1              6      Nathan Aké -3.724532  0.694552
4      4    205       1              8  İlkay Gündoğan -2.180215  1.821136

      speed          x          y        team_name
0  0.000000   0.000000   0.000000             ball
1  0.613556  11.236329  35.486638             ball
2  3.915685  56.252784  12.776898  Manchester City
3  3.788739  60.749832  56.393081  Manchester City
4  2.840753  48.844570  42.781774  Manchester City

In [5]:
df

,index,frame,period,jersey_number,player,vx,vy,speed,x,y,team_name
0,0,124,1,-99,ball,0.000000,0.000000,0.000000,0.000000,0.000000,ball
1,1,205,1,-99,ball,-0.563135,0.243577,0.613556,11.236329,35.486638,ball
2,2,205,1,5,John Stones,-3.864288,0.632351,3.915685,56.252784,12.776898,Manchester City
3,3,205,1,6,Nathan Aké,-3.724532,0.694552,3.788739,60.749832,56.393081,Manchester City
4,4,205,1,8,İlkay Gündoğan,-2.180215,1.821136,2.840753,48.844570,42.781774,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...
19153,19153,76116,2,22,Henrikh Mkhitaryan,1.680960,-0.497460,1.753024,1.048340,32.951274,Inter
19154,19154,76116,2,24,André Onana,1.836364,5.222776,5.536210,10.180932,42.471901,Inter
19155,19155,76116,2,33,Danilo D'Ambrosio,0.861186,2.654138,2.790356,4.770119,35.860374,Inter
19156,19156,76116,2,77,Marcelo Brozović,-5.470700,1.334390,5.631088,7.347467,47.794409,Inter
19157,19157,76116,2,90,Romelu Lukaku,1.101513,1.793006,2.104330,3.742880,30.821481,Inter