In [ ]:
%matplotlib inline


# Using Statsbomb
Getting familiar with Statsbomb data

In [2]:
#importing SBopen class from mplsoccer to open the data
from mplsoccer import Sbopen
# The first thing we have to do is open the data. We use a parser SBopen available in mplsoccer.
parser = Sbopen()

## Alternate way to store SB data - Dict

In [11]:
# iterate through all matches to get the events data
df_matches = {}
for i, id in enumerate(df_match['match_id']):
  df_matches[id] = {}
  df_matches[id]['event'], df_matches[id]['related'], df_matches[id]['freeze'], df_matches[id]['tactic'] = parser.event(id)

In [28]:
df_matches[22949]['event']['shot_statsbomb_xg']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
3357   NaN
3358   NaN
3359   NaN
3360   NaN
3361   NaN
Name: shot_statsbomb_xg, Length: 3362, dtype: float64

In [22]:
df_matches[22949]['event'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3362 entries, 0 to 3361
Data columns (total 72 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              3362 non-null   object
 1   index                           3362 non-null   int64
 2   period                          3362 non-null   int64
 3   timestamp                       3362 non-null   object
 4   minute                          3362 non-null   int64
 5   second                          3362 non-null   int64
 6   possession                      3362 non-null   int64
 7   duration                        2553 non-null   float64
 8   match_id                        3362 non-null   int64
 9   type_id                         3362 non-null   int64
 10  type_name                       3362 non-null   object
 11  possession_team_id              3362 non-null   int64
 12  possession_team_name            3362 non-null   object
 13  play_pattern_id                 3362 non-null   int64
 14  play_pattern_name               3362 non-null   object
 15  team_id                         3362 non-null   int64
 16  team_name                       3362 non-null   object
 17  tactics_formation               3 non-null      object
 18  player_id                       3348 non-null   float64
 19  player_name                     3348 non-null   object
 20  position_id                     3348 non-null   float64
 21  position_name                   3348 non-null   object
 22  pass_recipient_id               809 non-null    float64
 23  pass_recipient_name             809 non-null    object
 24  pass_length                     870 non-null    float64
 25  pass_angle                      870 non-null    float64
 26  pass_height_id                  870 non-null    float64
 27  pass_height_name                870 non-null    object
 28  end_x                           1637 non-null   float64
 29  end_y                           1637 non-null   float64
 30  sub_type_id                     351 non-null    float64
 31  sub_type_name                   351 non-null    object
 32  body_part_id                    901 non-null    float64
 33  body_part_name                  901 non-null    object
 34  x                               3339 non-null   float64
 35  y                               3339 non-null   float64
 36  under_pressure                  793 non-null    float64
 37  outcome_id                      608 non-null    float64
 38  outcome_name                    608 non-null    object
 39  technique_id                    59 non-null     float64
 40  technique_name                  59 non-null     object
 41  counterpress                    129 non-null    float64
 42  foul_won_defensive              5 non-null      object
 43  shot_statsbomb_xg               30 non-null     float64
 44  goalkeeper_position_id          30 non-null     float64
 45  goalkeeper_position_name        30 non-null     object
 46  out                             30 non-null     float64
 47  aerial_won                      41 non-null     object
 48  foul_won_advantage              3 non-null      object
 49  ball_recovery_recovery_failure  13 non-null     object
 50  pass_switch                     24 non-null     object
 51  pass_cross                      20 non-null     object
 52  pass_assisted_shot_id           18 non-null     object
 53  pass_shot_assist                18 non-null     object
 54  end_z                           18 non-null     float64
 55  shot_key_pass_id                18 non-null     object
 56  shot_first_time                 12 non-null     object
 57  pass_no_touch                   2 non-null      object
 58  pass_cut_back                   2 non-null      object
 59  dribble_nutmeg                  5 non-null      object
 60  off_camera                      15 non-null     float64
 61  injury_stoppage_in_chain        2 non-null      object
 62  foul_committed_advantage        2 non-null      object
 63  dribble_overrun                 4 non-null      object
 64  ball_recovery_offensive         1 non-null      object
 65  shot_open_goal                  1 non-null      object
 66  substitution_replacement_id     6 non-null      float64
 67  substitution_replacement_name   6 non-null      object
 68  block_deflection                1 non-null      object
 69  foul_committed_card_id          1 non-null      float64
 70  foul_committed_card_name        1 non-null      object
 71  shot_one_on_one                 1 non-null      object
dtypes: float64(24), int64(10), object(38)
memory usage: 1.8+ MB

In [26]:
# example events data, filtered to shots only
df_matches[22949]['event'][df_matches[22949]['event']['type_name'] == 'Shot'].head()

,id,index,period,timestamp,minute,second,possession,duration,match_id,type_id,...,foul_committed_advantage,dribble_overrun,ball_recovery_offensive,shot_open_goal,substitution_replacement_id,substitution_replacement_name,block_deflection,foul_committed_card_id,foul_committed_card_name,shot_one_on_one
47,61ba8fdd-7b2e-4967-8c3c-038cad3d44c1,48,1,00:01:45.395000,1,45,5,0.413700,22949,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
554,3473cc2a-c7b4-4c21-b4c5-3631b79d8ba8,555,1,00:13:55.191000,13,55,36,1.574044,22949,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,b987d5a3-0152-4919-8fcf-5ad26f4b2883,639,1,00:15:47.927000,15,47,40,0.926764,22949,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
674,cd838028-9847-4638-86d6-955feb6ec3e0,675,1,00:16:44.355000,16,44,43,0.576395,22949,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738,7d9bced3-546a-4116-aded-67eeed94a1f5,739,1,00:17:46.017000,17,46,47,1.703090,22949,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Competition data
Using method *competition* of the parser we can explore competitions to find the competition we are interested in.
The most important information for us is in the *competition_id* (id of competition) and *season_id*.
The first one is the key in Statsbomb database of a competition, the second one of a season 
of this competition (for example WC 2018 would have a different *season_id* than WC 2014, but the same *competition_id*).

In [3]:
#opening data using competition method
df_competition = parser.competition()
#structure of data
df_competition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   competition_id             74 non-null     int64
 1   season_id                  74 non-null     int64
 2   country_name               74 non-null     object
 3   competition_name           74 non-null     object
 4   competition_gender         74 non-null     object
 5   competition_youth          74 non-null     bool
 6   competition_international  74 non-null     bool
 7   season_name                74 non-null     object
 8   match_updated              74 non-null     object
 9   match_updated_360          56 non-null     object
 10  match_available_360        10 non-null     object
 11  match_available            74 non-null     object
dtypes: bool(2), int64(2), object(8)
memory usage: 6.1+ KB

## Match data
Using method *match* of the parser we can explore matches of a competition to find the match we are interested in.
To open it we need to know the *competition_id* (id of competition) and *season_id*.
We know that for Women World Cup *competition_id* is 72 and *season_id* is 30
From this dataframe for us the most important imformation is provided in *match_id*, 
*home_team_id* and *home_team_name* and adequately *away_team_id* and *away_team_name*.

In [4]:
#opening data using match method
df_match = parser.match(competition_id=72, season_id=30)
#structure of data
df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 52 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   match_id                         52 non-null     int64
 1   match_date                       52 non-null     datetime64[ns]
 2   kick_off                         52 non-null     datetime64[ns]
 3   home_score                       52 non-null     int64
 4   away_score                       52 non-null     int64
 5   match_status                     52 non-null     object
 6   match_status_360                 52 non-null     object
 7   last_updated                     52 non-null     datetime64[ns]
 8   last_updated_360                 52 non-null     datetime64[ns]
 9   match_week                       52 non-null     int64
 10  competition_id                   52 non-null     int64
 11  country_name                     52 non-null     object
 12  competition_name                 52 non-null     object
 13  season_id                        52 non-null     int64
 14  season_name                      52 non-null     object
 15  home_team_id                     52 non-null     int64
 16  home_team_name                   52 non-null     object
 17  home_team_gender                 52 non-null     object
 18  home_team_group                  48 non-null     object
 19  home_team_country_id             52 non-null     int64
 20  home_team_country_name           52 non-null     object
 21  home_team_managers_id            52 non-null     int64
 22  home_team_managers_name          52 non-null     object
 23  home_team_managers_nickname      52 non-null     object
 24  home_team_managers_dob           52 non-null     datetime64[ns]
 25  home_team_managers_country_id    52 non-null     int64
 26  home_team_managers_country_name  52 non-null     object
 27  away_team_id                     52 non-null     int64
 28  away_team_name                   52 non-null     object
 29  away_team_gender                 52 non-null     object
 30  away_team_group                  48 non-null     object
 31  away_team_country_id             52 non-null     int64
 32  away_team_country_name           52 non-null     object
 33  away_team_managers_id            52 non-null     int64
 34  away_team_managers_name          52 non-null     object
 35  away_team_managers_nickname      52 non-null     object
 36  away_team_managers_dob           52 non-null     datetime64[ns]
 37  away_team_managers_country_id    52 non-null     int64
 38  away_team_managers_country_name  52 non-null     object
 39  metadata_data_version            52 non-null     object
 40  metadata_shot_fidelity_version   52 non-null     object
 41  metadata_xy_fidelity_version     52 non-null     object
 42  competition_stage_id             52 non-null     int64
 43  competition_stage_name           52 non-null     object
 44  stadium_id                       52 non-null     int64
 45  stadium_name                     52 non-null     object
 46  stadium_country_id               52 non-null     int64
 47  stadium_country_name             52 non-null     object
 48  referee_id                       36 non-null     float64
 49  referee_name                     36 non-null     object
 50  referee_country_id               36 non-null     float64
 51  referee_country_name             36 non-null     object
dtypes: datetime64[ns](6), float64(2), int64(17), object(27)
memory usage: 21.3+ KB

## Lineup data
To check the lineups we use the *lineup* method. We do it for England Sweden WWC 2019 game - *game_id* is 69301 
- you can check that in the df_match. In this dataframe you will find all players who played in this game, their teams 
and jersey numbers
COMMENTED OUT BECAUSE OF CHANGE OF DATA FORMAT.

In [5]:
#opening data using match method
#df_lineup = parser.lineup(69301)
#structure of data
#df_lineup.info()

## Event data
The Statsbomb data that we will use the most during the course is event data. 
Knowing *game_id* you can open all the events that occured on the pitch
In the event dataframe you will find events with additional information, we will mostly use this dataframe.
Tactics dataframe provides information about player position on the pitch. 'Related' dataframe provides information
on events that were related to each other - for example ball pass and pressure applied. *df_freeze* consists of freezed
frames with player position in the moment of shots. We will learn more about tracking data later in the course.
Below, an example of event data is presented.

In [6]:
#opening data
df_event, df_related, df_freeze, df_tactics = parser.event(69301)
#if you want only event data you can use 
#df_event = parser.event(69301)[0]
#structure of data
df_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3289 entries, 0 to 3288
Data columns (total 73 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              3289 non-null   object
 1   index                           3289 non-null   int64
 2   period                          3289 non-null   int64
 3   timestamp                       3289 non-null   object
 4   minute                          3289 non-null   int64
 5   second                          3289 non-null   int64
 6   possession                      3289 non-null   int64
 7   duration                        2457 non-null   float64
 8   match_id                        3289 non-null   int64
 9   type_id                         3289 non-null   int64
 10  type_name                       3289 non-null   object
 11  possession_team_id              3289 non-null   int64
 12  possession_team_name            3289 non-null   object
 13  play_pattern_id                 3289 non-null   int64
 14  play_pattern_name               3289 non-null   object
 15  team_id                         3289 non-null   int64
 16  team_name                       3289 non-null   object
 17  tactics_formation               4 non-null      object
 18  player_id                       3277 non-null   float64
 19  player_name                     3277 non-null   object
 20  position_id                     3277 non-null   float64
 21  position_name                   3277 non-null   object
 22  pass_recipient_id               834 non-null    float64
 23  pass_recipient_name             834 non-null    object
 24  pass_length                     921 non-null    float64
 25  pass_angle                      921 non-null    float64
 26  pass_height_id                  921 non-null    float64
 27  pass_height_name                921 non-null    object
 28  end_x                           1713 non-null   float64
 29  end_y                           1713 non-null   float64
 30  body_part_id                    939 non-null    float64
 31  body_part_name                  939 non-null    object
 32  sub_type_id                     318 non-null    float64
 33  sub_type_name                   318 non-null    object
 34  x                               3264 non-null   float64
 35  y                               3264 non-null   float64
 36  under_pressure                  640 non-null    float64
 37  outcome_id                      503 non-null    float64
 38  outcome_name                    503 non-null    object
 39  out                             31 non-null     float64
 40  counterpress                    86 non-null     float64
 41  pass_deflected                  1 non-null      object
 42  pass_switch                     23 non-null     object
 43  technique_id                    37 non-null     float64
 44  technique_name                  37 non-null     object
 45  pass_cross                      33 non-null     object
 46  off_camera                      25 non-null     float64
 47  shot_statsbomb_xg               19 non-null     float64
 48  end_z                           15 non-null     float64
 49  shot_first_time                 5 non-null      object
 50  goalkeeper_position_id          19 non-null     float64
 51  goalkeeper_position_name        19 non-null     object
 52  ball_recovery_recovery_failure  10 non-null     object
 53  pass_assisted_shot_id           10 non-null     object
 54  pass_shot_assist                8 non-null      object
 55  shot_key_pass_id                10 non-null     object
 56  foul_won_defensive              5 non-null      object
 57  aerial_won                      30 non-null     object
 58  pass_goal_assist                2 non-null      object
 59  substitution_replacement_id     6 non-null      float64
 60  substitution_replacement_name   6 non-null      object
 61  foul_committed_offensive        2 non-null      object
 62  shot_one_on_one                 1 non-null      object
 63  dribble_overrun                 1 non-null      object
 64  block_deflection                2 non-null      object
 65  bad_behaviour_card_id           1 non-null      float64
 66  bad_behaviour_card_name         1 non-null      object
 67  pass_no_touch                   1 non-null      object
 68  block_save_block                1 non-null      object
 69  foul_committed_advantage        1 non-null      object
 70  foul_won_advantage              1 non-null      object
 71  foul_committed_card_id          1 non-null      float64
 72  foul_committed_card_name        1 non-null      object
dtypes: float64(25), int64(10), object(38)
memory usage: 1.8+ MB

In [7]:
df_tactics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   jersey_number     44 non-null     int64
 1   match_id          44 non-null     int64
 2   id                44 non-null     object
 3   player_id         44 non-null     int64
 4   player_name       44 non-null     object
 5   position_id       44 non-null     int64
 6   position_name     44 non-null     object
 7   event_tactics_id  44 non-null     int64
dtypes: int64(5), object(3)
memory usage: 2.9+ KB

## 360 data
Statsbomb offers 360 data which track not only location of an event but also players' location. To open them we need
an id of game. Later, we will also need id of the event. In the *df_frame* we find information on players' position (but only if teammate, not all information)
and in *df_visible* it is provided which part of the pitch was tracked during an event.

In [8]:
df_frame, df_visible = parser.frame(3788741)

# exploring the data
df_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45737 entries, 0 to 45736
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   teammate  45737 non-null  bool
 1   actor     45737 non-null  bool
 2   keeper    45737 non-null  bool
 3   match_id  45737 non-null  int64
 4   id        45737 non-null  object
 5   x         45737 non-null  float64
 6   y         45737 non-null  float64
dtypes: bool(3), float64(2), int64(1), object(1)
memory usage: 1.5+ MB

## Before you start
Run these lines in Spyder/Jupyter notebook and explore dataframes 
to get more familiar before you start working on the course.

In [10]:
df_visible

,match_id,id,visible_area
0,3788741,5c888f58-fe77-459b-ab3b-a2fa5fb8ab16,"[0.0, 27.7649873094419, 19.2332231959735, 17.3..."
1,3788741,776e11e0-9e85-4226-9f9e-edefa3685288,"[34.5953633899854, 77.2328373069048, 6.5972315..."
2,3788741,bea4235d-7e40-461c-bb82-6d473f5bb324,"[34.5953633899854, 77.2328373069048, 6.5972315..."
3,3788741,84b9b798-0fbe-45bc-a4bf-3621959f29ce,"[35.4292984462803, 78.5704958529984, 7.7187164..."
4,3788741,6e2955cf-ad4f-4096-a4dd-053173a3802b,"[19.7831665231312, 80.0, 41.3426126170851, 0.0..."
...,...,...,...
3365,3788741,3a176721-5ca0-43d8-813c-482a2688c932,"[0.0, 80.0, 0.0, 30.7709117714099, 13.95558739..."
3366,3788741,98eaff6a-811b-4101-80ba-aa4bf7797d1f,"[0.0, 80.0, 0.0, 33.0363392144773, 12.95951717..."
3367,3788741,87f19c86-543d-4a7a-93bb-b576fe9be63d,"[0.0, 80.0, 0.0, 33.0363392144773, 12.95951717..."
3368,3788741,9a782a08-27d0-4d77-908f-fdfde7e5f3a4,"[104.1532652775, 67.3224942956356, 84.40446024..."
3369,3788741,feb59f80-cefc-4dea-85ea-dfb9e4efb799,"[104.046891906434, 63.4526447290838, 84.382165..."